body{
  background-image:url("kyougizyou.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
div.new{
  background-color:aliceblue; opacity:0.5;width:300px;
}
div.linc{
  background-color:aliceblue; opacity:0.5;width:300px;
}
#date{
  background-color: aliceblue; opacity: 0.5;width: 300px;
  color:rgb(241, 19, 19);
  font-weight:bold;
}
